.App {
  width: 600px;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 2rem;
  box-shadow: 0 0 15px 5px #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

h1 {
  margin: 1rem 0.75rem;
}
