* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-color: #771b1b;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
